@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e5ebf1;
  background: linear-gradient(
    to bottom,
    rgb(10, 10, 44) 0%,
    rgb(4, 4, 26) 50%,
    #000 100%
  );
}

.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3e82f7;
}

.point {
  fill: #444444;
}

.rhombus {
  fill: #2da94f;
  stroke: #2da94f;
}

.x {
  fill: #fdbd00;
}

.circle {
  fill: #ed412d;
}

.line {
  fill: #7b46fe;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  transform: translateZ(0px);
}

.title {
  z-index: 10;
  font-family: "Montserrat";
  text-align: center;
  width: 60%;
}
.title h1 {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 900;
  font-size: 100px;
  font-style: italic;
  padding: 0;
  margin: 0;
  line-height: 1;
  -webkit-text-stroke: 0.045em #eee;
}
.title h3 {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  padding-top: 1em;
  margin: 0;
  line-height: 2;
  letter-spacing: 2px;
}

.anim-text {
  background-image: linear-gradient(92deg, #fff, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

.anim-text2 {
  background-image: linear-gradient(92deg, #000, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.contact {
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 60%;
  color: #ccc;
}

.contact a {
  text-decoration: none;
  color: #567cbe;
}
